{% extends "users/base_profile.html" %}
{% load static %}

{% block content_profile %}
<!--<h2 class="zagolovok-page">Изменение пароля</h2>-->
<div class="container">
    <h2 class="zagolovok-page">Изменение пароля</h2>
        <div class="row">
            <div class="col-12">
      {% comment %} Колонка для формы редактирования {% endcomment %}
<!--      <div class="col-12 col-lg-6 bgfon">-->
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info mb-2">Сменить пароль</button>
        </form>
      </div>
  </div>
</div>
{% endblock %}