{% extends 'yoga/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2 class="zagolovok-page">Регистрация</h2>

        <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
            {{ field }}  <!-- Отображаем само поле -->
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit" class="btn btn-info mt-3">Зарегистрироваться</button>
</form>
          </div>
      </div>
    </div>
{% endblock %}