{% extends 'yoga/base.html' %}
{% load static %}
{% block head %}
<meta name="description" content="На странице собрана информация по основным стилям, которые практикуют в йога центрах России.">
<meta property="og:title" content="Стили йоги - Собери Свою Йогу">
<meta property="og:type" content="article">
<meta property="og:description" content="На странице собрана информация по основным стилям, которые практикуют в йога центрах России.">
<meta property="og:site_name" content="makeyoga.ru">
<meta property="og:image" content="{% static 'yoga/img/logo_new1.png' %}">
<meta property="og:url" content="https://makeyoga.ru/about/">
<meta property="og:locale" content="ru_RU">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="zagolovok-page">Cтили йоги</h1>
            <p align="justify" class="main-list mb-4 mt-4">В настоящее время йога центры и фитнес-клубы предлагают большое
                количество различных стилей и направлений йоги. В таком разнообразии трудно разобраться
                не только новичку, но даже опытному йогину. В данном разделе вы сможете найти информацию
    по основным стилям, которые практикуют в йога центрах. Тем, кто сейчас
    выбирает стиль йоги для будущей практики, советую ознакомиться с основными стилями и их особенностями.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-lg-4 styleyoga">
            <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/хатха1.jpeg' %}" alt="Фото хатхайога1">
            <a href="{% url 'yoga:hathayoga' %}" class="main-list mb-4 mt-4">Хатха-йога</a>
        </div>
        <div class="col-12 col-lg-4 styleyoga">
            <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/кундалини1.jpg' %}" alt="Фото кундалини1">
            <a href="{% url 'yoga:kundaliniyoga' %}" class="main-list mb-4 mt-4">Кундалини йога</a>
        </div>
        <div class="col-12 col-lg-4 styleyoga">
            <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/аштанга1.jpg' %}" alt="Фото аштанга1">
             <a href="{% url 'yoga:ashtangayoga' %}" class="main-list mb-4 mt-4">Аштанга Виньяса йога</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 styleyoga">
            <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/айенгар1.jpg' %}" alt="Фото Айенгар1">
            <a href="{% url 'yoga:ayengaryoga' %}" class="main-list mb-4 mt-4">Айенгар йога</a>
        </div>
        <div class="col-12 col-lg-4 styleyoga">
            <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/шивананда1.jpg' %}" alt="Фото шивананда1">
            <a href="{% url 'yoga:shivanandayoga' %}" class="main-list mb-4 mt-4">Шивананда йога</a>
        </div>
        <div class="col-12 col-lg-4 styleyoga">
            <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/нидра1.jpg' %}" alt="Фото нидра1">
            <a href="{% url 'yoga:nidrayoga' %}" class="main-list mb-4 mt-4">Йога Нидра</a>
        </div>
        </div>
    </div>
{% endblock %}