{% extends "yoga/base.html" %}
{% load static %}
{% block head %}
<meta name="description" content="Подробная информация об асане {{ asana.title }}, с описанием техники выполнения, противопоказаниям и терапевтическому эффекту при регулярном выполнении.">
<meta property="og:title" content="Асана {{ asana.title }} - Собери Свою Йогу">
<meta property="og:type" content="article">
<meta property="og:description" content="Подробная информация об асане {{ asana.title }}, с описанием техники выполнения, противопоказаниям и терапевтическому эффекту при регулярном выполнении.">
<meta property="og:site_name" content="makeyoga.ru">
<meta property="og:image" content="{% static 'yoga/img/logo_new1.png' %}">
<meta property="og:url" content="https://makeyoga.ru/yoga/{{asana.pk}}/detail/">
<meta property="og:locale" content="ru_RU">
{% endblock %}
{% block content %}

<div class="card" style="width: 100%;">
  <div class="card-header bgasanadetail">


      <div class="card-body">
        <h2 class="card-title">{{ asana.title }} ({{ asana.translate }})</h2>
          <p align="justify" class="card-text">✅ {{asana.effect}}</p>
            <p align="justify" class="card-text">❌ {{asana.contraindication}}</p>
            <p align="justify" class="card-text"><u>Техника выполнения:</u> {{ asana.technique|linebreaks}}</p>
                <div class="p-3">
                    {% if asana.image %}
                    <img class="img-fluid asana-img" src="{{ asana.image.url }}" alt="Тут изображение {{ asana.title }}">
                    {% endif %}
                </div>

        <div class="d-flex justify-content-start align-items-center mt-2">
            <i class="bi bi-eye me-2"></i>{{ asana.views }}
       </div>

      </div>
      {% comment %}Кнопка перехода к каталогу асан {% endcomment %}
      <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'yoga:asanas' %}" class="btn btn-info">Вернуться</a>
      </div>
      </div>
    </div>
{% endblock content %}
