{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/аштанга1.jpg' %}" alt="Фото аштанга1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 class="zagolovok-page">Аштанга Виньяса йога</h1>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/аштанга2.jpg' %}" alt="Фото аштанга2">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <p align="justify" class="main-list mb-4 mt-4">
                <p align="start" class="main-list mt-4">Основатель: <b>Шри Кришна Паттабхи Джойс</b></p>
                <p align="justify" class="main-list"> «Aштанга» означает «восемь основ» и восходит к восьми основным принципам этого вида йоги. Это
                динамическая практика, состоящая из последовательностей асан, которые плавно переходят одна в другую
                через виньясы (последовательности движений, сопровождаемые дыханием). Для всех поз установлено
                определенное количество виньяс. Виньясы сильно разогревают тело, заставляют кровь бурлить, что
                способствует очищению внутренних органов и самой субстанции от загрязнений и токсинов. Благодаря тому,
                что значительно усиливается приток крови к тканям и суставам, выполнение асан становится более
                комфортным и безболезненным. Одновременно выполняются пранаяма (специальное дыхание) и бандхи
                («энергетические замки», то есть напряжение и сжатие определенных частей тела). Кроме того, параллельно
                нужно концентрировать взгляд на различных зонах тела (эта техника называется «дришти»). Во время
                практики следует стремиться к спокойному, медитативному состоянию ума. Таким образом, упражнения аштанга
                йоги связывают воедино тело, дыхание и внимание.</p>

                <p align="justify" class="main-list">Регулярные занятия Аштанга Виньяса йогой помогут набрать отличную спортивную форму, направить в нужное русло
                избыточную энергию, что чрезвычайно важно в подростковом возрасте. Вместе с тем Аштанга Виньяса йога
                привносит успокоение ума, разрешение внутреннего конфликта и, соответственно, возможность услышать себя
                и окружающих. Аштанга Виньяса йога предполагает очищение нервной системы и органов восприятия. Органы
                чувств не обучены концентрации, внимание хаотично, а тело находится во власти дурных привычек и лени.
                Однако благодаря постоянной практике Аштанга Виньяса йоги можно научиться их контролировать.

                <p align="justify" class="main-list">Правильно подобранная программа обучения основана на поэтапном внедрении в личную практику всех
                составляющих и тонких нюансов стиля. Это позволяет постепенно расширять диапазон асан, а новичкам
                избежать травм и сильных физических нагрузок. Традиционно занятие начинается с пения мантры, затем
                ученики выполняют комплекс Сурья Намаскар. В продолжение всей практики поддерживается Уджайи
                (победоносное дыхание) вместе с легкой уддияна-бандхой. Класс для начинающих отличается несколько
                замедленным темпом и более подробными объяснениями. Новички не выполняют полностью первую серию, которая
                состоит из 90 поз. Они доходят только до Навасаны, после которой приступают к заключительному блоку. В
                заключительный блок входит стойка на голове (Ширшасана).</p>
                <p align="justify" class="main-list">Этот метод больше подходит для молодых и здоровых людей, поскольку в аштанга виньяса йоге асаны выполняются в
                довольно высоком темпе.</p>
            </p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
    <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
    </div>
</div>

{% endblock %}