{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/айенгар1.jpg' %}" alt="Фото айенгар1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 class="zagolovok-page">Айенгар йога</h1>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/айенгар2.jpg' %}" alt="Фото айенгар2">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <p class="mb-4 mt-4">
                <p align="start" class="main-list">Основатель: <b>Б.К.С. Айенгар</b></p>
                <p align="justify" class="main-list">Метод йоги Айенгара был разработан на базе классической Хатха-йоги и получил свое название по имени
                основателя Б.К.С.Айенгара, современного Мастера, живущего в Индии (г. Пуна). Б.К.С. Айенгар предположил
                и успешно доказал, что успокоить ум возможно путем создания пространства в теле, правильного вытяжения
                различных частей тела. Обладая многолетней практикой и зная на личном опыте терапевтическое действие
                йоги, Айенгар создал стройную систему физического развития человека, которая была перенесена на Запад в
                60-х годах прошлого века и адаптирована специально для европейцев.</p>
                <p align="justify" class="main-list">Данный метод использует точное построение поз и дыхательные техники, чтобы привести в гармонию тело и
                ум. Каждая асана выполняется в течение длительного времени, и переход к следующему происходит медленно и
                плавно. Занятия этим методом начинаются с простых асан, которые постепенно все более усложняются.
                Характерной особенностью метода является статичное выполнение асан с необходимыми опорами. В школах йоги
                Айенгара практикуется использование вспомогательных материалов: одеял, стульев, кирпичей, ремней и
                прочее. Благодаря этому упражнения йоги Айенгара доступны любому человеку, независимо от возраста и
                состояния здоровья. Вспомогательные материалы помогают полностью расслабиться, не испытывать болевых
                ощущений, и полностью погрузить свое сознание в тело. Время фиксации асаны постепенно увеличивается, и
                практикующему проще проникать сознанием в каждую часть тела и осознавать внутренние движения.
                Терапевтический эффект асан при этом усиливается. В школах йоги Айенгара обычно чередуются занятия,
                посвященные асанам стоя, наклонам, прогибам, балансам и скруткам. Большое внимание уделяется также
                перевернутым позам.</p>
                <p align="justify" class="main-list">Другой характерной чертой метода является подробное, детальное объяснение каждой позы и индивидуальный
                подход к каждому практикующему. В методике Айенгара особое место отведено йоге для женщин. Йога и
                упражнения для женщин модифицированы с учетом особенностей женского организма и природы. Поэтому йогой
                Айенгара можно заниматься во время менструаций и беременности, но по отдельной женской программе. Йогу
                для женщин Айенгар разрабатывал с помощью своей ближайшей помощницы и наследницы - Гиты Айенгара.</p>
                <p align="justify" class="main-list">Йога Айенгара доступна людям разного возраста и состояния здоровья
                и дает реальные результаты в улучшении самочувствия. Особенно данной йогой рекомендуется заниматься тем,
                кто имеет некоторые проблемы со здоровьем, поскольку результаты занятий несут в себе благоприятный
                терапевтический эффект.</p>
            </p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
    <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
    </div>
</div>

{% endblock %}