{% extends 'yoga/base.html' %}
{% load static %}
{% block title %}Обратная связь{% endblock %}
{% block head %}
<meta name="description" content="Контакты инструктора по йоге, электронная почта, телеграм канал Собери Свою йогу.">
<meta property="og:title" content="Обратная связь - Собери Свою Йогу">
<meta property="og:type" content="article">
<meta property="og:description" content="Контакты инструктора по йоге, электронная почта, телеграм канал Собери Свою йогу.">
<meta property="og:site_name" content="makeyoga.ru">
<meta property="og:image" content="https://makeyoga.ru/static/yoga/img/teacher3.jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="901">
<meta property="og:url" content="https://makeyoga.ru/yoga/back_contact/">
<meta property="og:locale" content="ru_RU">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-lg-6 d-flex justify-content-center aline-items-center">
            {% comment %} Здесь будут контакты {% endcomment%}
                <div class="p-3">
                    <h2 class="zagolovok-page mb-5">Мои контакты</h2>
                    <img class="img-fluid foto-styleyoga me-4 mt-2" src="{% static 'yoga/img/teacher2.jpeg' %}" alt="Фото препод2">
                    <p class="main-list mt-3">Елена Московкина</p>
                    <p>Преподаватель йоги, йогатерапевт</p>
                    <p><b>Электронная почта:</b> <i>yoganatom@gmail.com</i></p>
                    <p><b>Телеграм-канал:</b> <a href="https://t.me/soberiyogu" target="СобериСвоюЙогу"><i>https://t.me/soberiyogu</i></a></p>
                    <div class="d-flex justify-content-center">
                        <a href="https://t.me/yoganatom" target="Teacher_tme" class="me-3">
                            <img src="{% static 'yoga/img/telegram2.png' %}" alt="телеграм"></a>
                        <a href="https://api.whatsapp.com/send/?phone=79167255552&text&type=phone_number&app_absent=0" target="Teacher_wts">
                            <img src="{% static 'yoga/img/whatsapp3.png' %}" alt="вотсап"></a>
                    </div>
                </div>
        </div>


        <div class="col-12 col-lg-6 d-flex justify-content-center aline-items-center">
            {% comment %} Форма для записи на мероприятие {% endcomment%}
            <div class="p-3">
                <h2 class="zagolovok-page mb-5">Заполните эту форму для записи на мероприятие</h2>
                <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-info mt-3">Записаться на мероприятие</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}