{% extends "yoga/base.html" %}
{% load static %}
{% block title %}Мероприятия{% endblock %}
{% block head %}
<meta name="description" content="Информация о мероприятиях, онлайн занятиях, семинарах которые проводит инструктор по йоге Елена Московкина.">
<meta property="og:title" content="Мероприятия - Собери Свою Йогу">
<meta property="og:type" content="article">
<meta property="og:description" content="Информация о мероприятиях, онлайн занятиях, семинарах которые проводит инструктор по йоге Елена Московкина.">
<meta property="og:site_name" content="makeyoga.ru">
<meta property="og:image" content="https://makeyoga.ru/static/yoga/img/teacher3.jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="901">
<meta property="og:url" content="https://makeyoga.ru/yoga/events/">
<meta property="og:locale" content="ru_RU">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="zagolovok-page mb-5">Будущие мероприятия</h1>

    <div class="row">
        <div class="col-12">
            <p align="justify" class="main-list">На этой странице я буду публиковать мероприятия в которых предлагаю
                Вам принять участие. Если Вас заинтересовало или просто появились вопросы, Вы можете написать мне или
            подать заявку на участие в мероприятии и я обязательно свяжусь с Вами.</p><br>

           {% for yogaevent in yogaevents %}
            {% if yogaevent.status %}
                {% include "yoga/include/event_detail.html" %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}






