{% extends "yoga/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="zagolovok-page mb-5">Будущие мероприятия</h1>

    <div class="row">
        <div class="col-12">
            <h2 align="justify" class="main-list">На этой странице я буду публиковать мероприятия в которых предлагаю
                Вам принять участие. Если Вас заинтересовало или просто появились вопросы, Вы можете написать мне или
            подать заявку на участие в мероприятии и я обязательно свяжусь с Вами.</h2><br>

           {% for yogaevent in yogaevents %}
            {% if yogaevent.status %}
                {% include "yoga/include/event_detail.html" %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}






