{% extends 'yoga/base.html' %}
{% load static %}
{% block title %}Хатха йога{% endblock %}
{% block head %}
<meta name="description" content="Описание стиля Хатха йога, Хатха-йогa на является наиболее популярным стилем йоги, В хатха-йоге комплексы асан часто используют для улучшения здоровья, для борьбы с
                определенными заболеваниями.">
<meta property="og:title" content="Хатха йога - Собери Свою Йогу">
<meta property="og:type" content="article">
<meta property="og:description" content="Описание стиля Хатха йога, Хатха-йогa на является наиболее популярным стилем йоги, В хатха-йоге комплексы асан часто используют для улучшения здоровья, для борьбы с
                определенными заболеваниями.">
<meta property="og:site_name" content="makeyoga.ru">
<meta property="og:image" content="https://makeyoga.ru/static/yoga/img/teacher3.jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="901">
<meta property="og:url" content="https://makeyoga.ru/yoga/hathayoga/">
<meta property="og:locale" content="ru_RU">
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/хатха1.jpeg' %}" alt="Фото хатхайога1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 align="center" class="zagolovok-page">Хатха йога</h1>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/хатха2.jpg' %}" alt="Фото хатха2">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <p align="justify" class="main-list mb-4 mt-4">Хатха-йогa на сегодняшний день является наиболее популярным стилем йоги.
                Современные методы преподавания йоги (Кундалини йога, Айенгар и другие) – это разновидности хатха-йоги.
                Хатха-йога дает наиболее общее представление о духовных практиках. Практика классической хатха-йоги включает несколько обязательных элементов:
                <p align="justify" class="main-list">◾ Асаны - специальное положение тела (позы). Они делают йогина стойким, свободным от недугов и придают
                легкость телу. Асанам обучают уже в начальном курсе хатха-йоги.</p>
                <p align="justify" class="main-list">◾ Дыхательные упражнения (пранаяма). В классической хатха-йоге работе с дыханием уделяется очень много
                времени. Однако хатха-йога для начинающих не включает глубокую практику пранаям.</p>
                <p align="justify" class="main-list">◾ Работа с вниманием. В хатха-йоге асаны – это и есть упражнения для тренировки внимания, потому что в
                процессе их выполнения следует концентрироваться на определенных точках тела.</p>
                <p align="justify" class="main-list">◾ Внутренняя психологическая работа.</p>
                <p align="justify" class="main-list">Практика для начинающих в хатха-йоге включает в основном работу с асанами. Начальный курс хатха-йоги не
                подразумевает выполнения сложных асан и пранаямы, так как тело новичка еще не готово к таким нагрузкам.
                В первую очередь следует укрепить организм и сделать его более выносливым и здоровым. Правильное
                дыхание добавляется постепенно, по мере освоения начального курса хатха-йоги. В хатха-йоге упражнения
                обычно направлены на определенную часть тела или орган. Существуют специальные комплексы упражнений
                хатха-йоги, направленные на выпрямление позвоночника, укрепление мышц живота и спины, раскрытие
                суставов. В хатха-йоге комплексы асан часто используют для улучшения здоровья, для борьбы с
                определенными заболеваниями. Любой комплекс упражнений хатха-йоги обязательно должен содержать отрезок времени для
                релаксации, потому что наука расслабления тела и ума является неотъемлемой частью практики.
                Если Вы решили пойти на фитнесс и увидели в расписании клуба хатха-йогу, то стоит уточнить по какому методу или школе будет
                проходить практика, поскольку к хатха-йоге относятся различные стили и методы (йога Айенгара,
                Аштанга, йога-flow и др.). Но при этом не исключено, что инструктор будет смешивать различные стили и методы в зависимости от физической подготовки
                практикующих и их пожеланий.</p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
      <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
      </div>
</div>

{% endblock %}