{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/хатха1.jpeg' %}" alt="Фото хатхайога1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 class="zagolovok-page">Хатха йога</h1>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                     src="{% static 'yoga/img/хатха2.jpg' %}" alt="Фото хатха2">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <p align="justify" class="main-list mb-4 mt-4">Хатха-йогa как вид йоги имеет долгую историю и прочную традицию. Поэтому на сегодняшний
                день этот стиль йоги наиболее популярен. Множество современных методов преподавания йоги (йога Айенгара,
                Аштанга Виньяса и другие) – это разновидности хатха-йоги. Хатха-йога дает наиболее общее представление о
                духовных практиках. Практика классической хатха-йоги включает несколько обязательных элементов:
                <p align="justify" class="main-list">• Асаны - специальное положение тела (позы). Они делают йогина стойким, свободным от недугов и придают
                легкость телу. Асанам обучают уже в начальном курсе хатха-йоги.</p>
                <p align="justify" class="main-list">• Дыхательные упражнения (пранаяма). В классической хатха-йоге работе с дыханием уделяется очень много
                времени. Однако хатха-йога для начинающих не включает глубокую практику пранаям.</p>
                <p align="justify" class="main-list">• Работа с вниманием. В хатха-йоге асаны – это и есть упражнения для тренировки внимания, потому что в
                процессе их выполнения следует концентрироваться на определенных точках тела.</p>
                <p align="justify" class="main-list">• Внутренняя психологическая работа.</p>
                <p align="justify" class="main-list">Хатха-йога для начинающих включает в основном работу с асанами. Начальный курс хатха-йоги не
                подразумевает выполнения сложных асан и пранаямы, так как тело новичка еще не готово к таким нагрузкам.
                Сначала следует укрепить организм и сделать его более выносливым и здоровым. Практика правильного
                дыхания добавляется постепенно, по мере освоения начального курса хатха-йоги. В хатха-йоге упражнения
                обычно направлены на определенную часть тела или орган. Существуют специальные комплексы упражнений
                хатха-йоги, направленные на выпрямление позвоночника, укрепление мышц живота и спины, раскрытие
                суставов. В хатха-йоге комплексы асан часто используют для улучшения здоровья, для борьбы с
                определенными заболеваниями. Любой комплекс упражнений хатха-йоги обязательно подразумевает время для
                релаксации, потому что наука расслабления тела и ума является неотъемлемой частью практики.
                Если в расписании клуба состоит хатха-йога, то следует уточнить по какому методу или школе будет
                проходить обучение и практика, поскольку к хатха-йоге относятся различные стили и методы (йога Айенгара,
                Аштанга, йога-flow и др.). Это не исключает, что инструктор может придерживаться на занятии какого-то
                одного стиля, либо смешивать различные стили и методы в зависимости от физической подготовки
                практикующих и их пожеланий.
            </p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
      <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
      </div>
</div>

{% endblock %}