{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/кундалини1.jpg' %}" alt="Фото кундалини1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h2 class="zagolovok-page">Кундалини йога</h2>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/кундалини2.jpg' %}" alt="Фото кундалини2">
                </div>
            </div>
        </div>
    </div>

    <!--            <h2 class="zagolovok-page">Хатха йога</h2>-->
    <div class="row">
        <div class="col-12">
            <p class="mb-4 mt-4">Основатель: <b>Йоги Бхаджан</b>
                <p>Кундалини означает «свёрнутый кольцом», «свернутый в форме змеи. По представлениям
                древней индийской медицины аюрведы и йогов, источник энергии кундалини расположен в основании
                позвоночника приблизительно в области крестца или в основании туловища. Символически изображается в виде
                змеи, свернутой спиралью в три с половиной оборота, спящей в основании позвоночника (муладхара-чакра).
                Йог продвигает кундалини настолько высоко, настолько он способен, и как только она касается какого-либо
                лотоса, или чакры, ее голова, прежде обращенная вниз, поворачивается вверх. Покидая каждую чакру, или
                падму, на своем пути вверх, она приостанавливает функции этого центра, приводит их в латентное, спящее
                состояние; так продолжается до тех пор, пока она не достигает «тысячелепесткового лотоса» в макушке
                головы, стоящего выше всех шести чакр, и там она наслаждается совершенством бытия.
                Кундалини йога не относится к Хатха-йоге, но использует асаны классической йоги. Особенностью
                использования асан в Кундалини йоге является их сочетание с динамическими элементами, а также, зачастую,
                интенсивными дыхательными техниками. Все упражнения кундалини йоги объединены в специальные комплексы –
                крии (слово «крия» означает «действие») и расположены в строго определенном порядке. Каждое упражнение
                выполняется строго определенное время с одновременной концентрацией и определенным дыханием. Перед
                началом занятий дается настройка на класс с помощью инициирующей мантры. После крии следуют релаксация и
                медитация.</p>
                <p>Для того чтобы заниматься Кундалини йогой не требуется какой-то специальной подготовки, т.к. подготовка
                происходит в процессе практики. Не потребуется многолетних усилий в ожидании результатов - эффект можно
                почувствовать на первом же занятии. Как и любая система йоги, она состоит из нескольких, гармонично
                сочетаемых элементов: поз (асана), особых способов дыхания (пранаяма), звуковых вибраций (мантра),
                жестов (мудра) а также мышечных замков (бандха), и определенных видов концентрации. В результате
                познания кундалини йоги укрепляется иммунитет, повышается гибкость позвоночника, обостряется интуиция,
                повышается сексуальная активность, в полной мере проявляется умение видеть и ценить красоту природы.</p>
                <p>Структура урока Кундалини йоги в основном включает:</p>
                <p>• настройку с помощью пения мантр;</p>
                <p>• разминку, готовящую тело и сознание к основному комплексу;</p>
                <p>• основной комплекс – крийя, направленная на определенное воздействие на тело и сознание;
                <p>• релаксацию – 10 минут;</p>
                <p>• медитацию, нацеленную на определенный эффект;</p>
                <p>• завершение класса с помощью пения мантры.</p>
                <p>Кто может практиковать Кундалини йогу: практиковать данный стиль могут все, но данный стиль йоги больше
                понравится творческим натурам, постоянно занимающимся поиском себя. Тем, кто ищет физическую нагрузку,
                Кундалини йога может показаться скучной.
            </p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
    <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
    </div>
</div>

{% endblock %}