{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-lg-6">
            <h2 class="main-list mb-4 mt-4">Я рада приветствовать Вас на моем сайте!</h2>
            <h2 align="justify" class="main-list mb-4">Давайте знакомиться! </h2>
            <h2 align="justify" class="main-list mb-4">Меня зовут Елена Московкина. Я преподаватель
                йоги, йогатерапевт, организатор выездных мероприятий с 2013 года</h2>
            <h2 align="justify" class="main-list">
                Каждый человек хочет быть счастливым и первый шаг к этой цели - научиться дружить со своим телом.
                Йога - один из лучших инструментов, который поможет сохранить эту дружбу на долгие годы.
                Мой опыт преподавания, личной практики и организация множества ярких событий
                помогает создавать для участников незабываемые мероприятия.
                Присоединяйтесь к семинарам, которые я провожу, и Вы найдете свой баланс в жизни. Получите новые
                силы и энергию, почувствуете гармонию души и тела. Я приглашаю как новичков, так и опытных йогов.
            </h2>
        </div>

        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
            <img class="img-fluid foto-teacher me-4 mt-4"
                 src="{% static 'yoga/img/teacher.jpg' %}" alt="Фото инструктора">
        </div>
    </div>
</div>

{% endblock %}