{% extends 'yoga/base.html' %}
{% load static %}
{% block head %}
<meta name="description" content="Сайт преподавателя йоги Елены Московкиной, онлайн-занятия, организация выездных йога мероприятий как для новичков, так и для опытных практиков.">
<meta property="og:title" content="Главная траница - Собери Свою Йогу">
<meta property="og:type" content="article">
<meta property="og:description" content="Сайт преподавателя йоги Елены Московкиной, организация выездных йога мероприятий
 для новичков, так и для опытных практиков.">
<meta property="og:site_name" content="makeyoga.ru">
<meta property="og:image" content="{% static 'yoga/img/logo_new1.png' %}">
<meta property="og:url" content="https://makeyoga.ru/">
<meta property="og:locale" content="ru_RU">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-lg-6">
            <p class="main-list mb-4 mt-4">Я рада приветствовать Вас на моем сайте!</p>
            <p align="justify" class="main-list">Давайте знакомиться! </p>
            <p align="justify" class="main-list mb-4">Меня зовут Елена Московкина. Я преподаватель
                йоги, йогатерапевт, организатор выездных мероприятий с 2013 года.</p>
            <p align="justify" class="main-list">
                Каждый человек хочет быть счастливым и первый шаг к этой цели - научиться дружить со своим телом.
                Йога - один из лучших инструментов, который поможет сохранить эту дружбу на долгие годы.
                Мой опыт преподавания, личной практики и организации множества ярких событий в мире йоги помогает
                создавать для участников незабываемые мероприятия. Присоединяйтесь к занятиям и семинарам, которые
                я провожу, и Вы найдете свой баланс в жизни, получите новые силы и энергию, почувствуете гармонию души
                и тела. Я приглашаю как новичков, так и опытных практиков.
            </p>
        </div>

        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
            <img class="img-fluid foto-teacher mt-4"
                 src="{% static 'yoga/img/teacher.jpg' %}" alt="Фото инструктора">
        </div>
    </div>
</div>


<div class="container-fluid mt-4">
    {% comment %}Карусель сертификатов{% endcomment %}
    <div id="carouselExample" class="carousel slide">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'yoga/img/сертификат_3.png' %}" class="img-fluid foto-sert" alt="Сертификат3">
                </div>
            </div>
            <div class="carousel-item">
                 <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'yoga/img/сертификат_4.png' %}" class="img-fluid foto-sert" alt="Сертификат4">
                </div>
            </div>
            <div class="carousel-item">
                 <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'yoga/img/сертификат_5.png' %}" class="img-fluid foto-sert" alt="Сертификат5">
                 </div>
            </div>
            <div class="carousel-item">
                 <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'yoga/img/сертификат_1.png' %}" class="img-fluid foto-sert" alt="Сертификат1">
                </div>
            </div>
            <div class="carousel-item">
                 <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'yoga/img/сертификат_2.png' %}" class="img-fluid foto-sert2" alt="Сертификат2">
                </div>
            </div>
        </div>

        <button class="carousel-control-prev btn-info" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next btn-info" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>

    </div>

</div>
{% endblock %}