{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/нидра1.jpg' %}" alt="Фото нидра1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 class="zagolovok-page">Йога Нидра</h1>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/нидра2.jpg' %}" alt="Фото нидра2">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p align="start" class="main-list mt-4">Основатель: <b>Сарасвати Свами Сатьянанда</b>
                <p align="justify" class="main-list">Термин «йога нидра» состоит из двух слов: «йога» - союз, единство (или однонаправленное сознание) и
                «нидра» - сон. Со стороны, может показаться, что человек, практикующий йога нидру, просто погружается в
                сон, в то время как в действительности его сознание продолжает функционировать, проникая в подсознание.
                Поэтому йога нидру часто называют психическим сном, глубокой релаксацией с внутренним осознанием, когда
                на грани сна и бодрствования происходит спонтанный контакт со сферой подсознательного и
                бессознательного. Йога нидра приводит к состоянию релаксации благодаря отвлечению сознания от внешних
                впечатлений и погружения его в сокровенные недра психики. Характерная черта йога нидры - постоянная
                ротация (вращение) сознания в теле согласно тантрической практике ньяса, т.е. фиксация сознания в
                определенной точке. Ньяса практикуется в сидячей позе, требует использование специальных мантр, которые
                перемещают и ощущают в различных частях тела. Вначале называется часть тела, затем она визуализируется и
                к ней прикасаются рукой и наконец, туда перемещается мантра.</p>
                <p align="justify" class="main-list">Йога нидра является одним из наиболее мощных методов не только для формирования глубокой релаксации за
                минимальное количество времени, но также для возрождения дегенерированных мозговых ядер и центров. Один
                час йога нидры равен четырём часам обычного сна. В пограничном состоянии йога нидры, между сном и
                бодрствованием, осуществляется контакт со сверхсознательной частью и бессознательной частью психики, где
                собраны прошлые воспоминания. Те переживания, которые были особенно негативными или болезненными, были
                загнаны глубоко в бессознательную область нашей психики, которая скрыта за сознательными воспоминаниями.
                Однако они все еще очень активны и являются источником страхов и навязчивых идей. Также в
                бессознательной части находятся инстинктивные желания, постоянно ищущие выражения через наше сознание.
                Во время йоги нидры эти блокированные нереализованные желания получают выход, вследствие чего
                уменьшаются напряжения и высвобождается энергия, которая заключена в них. Йога нидру иногда сравнивают с
                гипнозом, но они имеют мало общего. В гипнозе каждый становится чрезвычайно чувствителен к внешним
                советам, йога нидра - это способ повышенного самоосознания отслеживать собственное психическое
                пробуждение.</p>
                <p align="justify" class="main-list">Йога нидра может практиковаться сидя или даже стоя, но обычно она проводится лежа на спине в шавасане.
                Глаза остаются закрытыми в течение всей практики. Тело должно быть абсолютно расслабленным, никаких
                движений не должно осуществляться во время практики. Когда тело полностью расслаблено, ум становится
                также расслабленным. Рекомендуется практиковать йогу нидру в течение 20-30 минут перед сном, при этом
                улучшится качество сна.</p>
                <p align="justify" class="main-list">Практика йога нидры показана не только тем, кто физически и умственно
                истощён, но также для тех, кто устал от пассивного образа жизни. Йога нидра призвана омолаживать, и
                возрождать физический, ментальный и эмоциональный аспекты личности. Практика йога нидры особенно
                рекомендована для тех духовно ищущих людей, кто страдает от страха, напряжения, дисгармонии. Она также
                показана для тех, кто хочет развить в большей степени осознанность и ментальную чистоту.</p>
            </p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
    <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
    </div>
</div>

{% endblock %}