{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/шивананда1.jpg' %}" alt="Фото шивананда1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 class="zagolovok-page">Шивананда йога</h1>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga me-4 mt-4"
                         src="{% static 'yoga/img/шивананда2.jpg' %}" alt="Фото шивананда2">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">

                <p align="start" class="main-list mt-4">Основатель: <b>Свами Шивананда</b></p>
                <p align="justify" class="main-list">Школа Свами Шивананды является одним из немногих стилей, обучающих духовной практике, наиболее
                приближенной к йоге Патанджали. Данное направление отличается универсальностью и целостным подходом.
                Основное отличие данного стиля от других направлений Хатха-йоги заключается в том, что практика всегда
                проходит в расслабленном состоянии, поэтому начинающих йогов учат не столько асанам, сколько глубокой
                релаксации.</p>
                <p align="justify" class="main-list">Шивананда йога — это путь к физическому и ментальному благополучию. Данная йога помогает избавиться от
                внутренних препятствий и дает силу воли оставаться спокойными, расслабленными и собранными в трудные
                моменты жизни. Каждый класс начинается и заканчивается пением мантр. Мантры это форма энергии, созданная
                вибрацией звука. Энергетические каналы начинают колебаться, когда поется мантра. Звуком и вибрацией
                можно влиять на своё тело, развивая в себе положительные качества и улучшая своё эмоциональное
                состояние.</p>
                <p align="justify" class="main-list">На занятии огромное внимание уделяется расслаблению, дыхательным упражнениям и внутренней концентрации.
                Все упражнения выполняются с объяснениями и персональной корректировкой участников группы. Каждому могут
                быть предложены более простые или, наоборот, более сложные модификации асан с учетом индивидуальных
                возможностей. Основная последовательность (12 асан) может быть дополнена более сложными асанами и их
                вариациями на усмотрение преподавателя. Основной класс подходит для людей всех возрастов и уровней
                подготовки: от начинающих, до тех, кто уже занимается несколько лет.</p>
                <p align="justify" class="main-list">Шивананда йога базируется на пяти принципах:</p>
                <p align="justify" class="main-list">• Правильные упражнения. Верное выполнение асан оказывает благотворное влияние на все системы организма,
                омолаживают его, возвращают силу и гибкость.</p>
                <p align="justify" class="main-list">• Правильное дыхание. Пранаяма способствует накоплению жизненной энергии (праны), благодаря которой
                человек обретает контроль над своим сознанием.</p>
                <p align="justify" class="main-list">• Правильное расслабление. Регулярное выполнение Шавасаны необходимо для физического, духовного и
                ментального расслабления.</p>
                <p align="justify" class="main-list">• Правильное питание. Вегетарианство оказывает положительный эффект на тело и ум человека, снабжает его
                максимальным количеством полезных организму веществ, не имея при этом негативного влияния на окружающую
                среду.</p>
                <p align="justify" class="main-list">• Позитивное мышление (Веданта) и Медитация (Дхьяна) способствует ментальному, духовному и физическому
                благополучию.</p>
                Структура урока Шивананда йога:</p>
                <p align="justify" class="main-list">• Релаксация (внутренняя настройка на занятие);</p>
                <p align="justify" class="main-list">• Пранаяма (Капалабхати, Анулома-вилома);</p>
                <p align="justify" class="main-list">• Динамический комплекс «Сурья Намаскар»;</p>
                <p align="justify" class="main-list">• Асаны – основная последовательность (12 асан: Ширшасана, Сарвангасана, Халасана, Матсиасана,
                Пашчимотанасана, Бхуджангасана, Шалабхасана, Дханурасана, Ардха Матсиендрасана, Какасана (или
                Маюрасана), Падахастасана и Триконасана);</p>
                <p align="justify" class="main-list">• Финальная релаксация — шавасана.</p>
                <p align="justify" class="main-list">Кто может практиковать Шавананда йогу: практика не требует каких-то специальных вспомогательных средств
                или особой физической подготовки.</p>
        </p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
    <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
    </div>
</div>

{% endblock %}