{% extends 'yoga/base.html' %}
{% load static %}
{% block title %}Шивананда йога{% endblock %}
{% block head %}
<meta name="description" content="Описание стиля Шивананда йога, основатель Свами Шивананда, этот стиль йоги может практиковать любой желающий, т.к. он не
                    требует каких-то специальных вспомогательных средств или особой физической подготовки.">
<meta property="og:title" content="Шивананда йога - Собери Свою Йогу">
<meta property="og:type" content="article">
<meta property="og:description" content="Описание стиля Шивананда йога, основатель Свами Шивананда, этот стиль йоги может практиковать любой желающий, т.к. он не
                    требует каких-то специальных вспомогательных средств или особой физической подготовки.">
<meta property="og:site_name" content="makeyoga.ru">
<meta property="og:image" content="https://makeyoga.ru/static/yoga/img/teacher3.jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="901">
<meta property="og:url" content="https://makeyoga.ru/yoga/shivanandayoga/">
<meta property="og:locale" content="ru_RU">
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga mt-4"
                         src="{% static 'yoga/img/шивананда1.jpg' %}" alt="Фото шивананда1">
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 align="center" class="zagolovok-page">Шивананда йога</h1>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="img-fluid foto-styleyoga mt-4"
                         src="{% static 'yoga/img/шивананда2.jpg' %}" alt="Фото шивананда2">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">

                <p align="start" class="main-list mt-4">Основатель: <b>Свами Шивананда</b></p>
                <p align="justify" class="main-list">Данное направление йоги отличается универсальностью и целостным подходом.
                Основное отличие данного стиля от других направлений Хатха-йоги заключается в том, что практика всегда
                проходит в расслабленном состоянии, поэтому начинающих йогов учат не столько асанам, сколько глубокой
                релаксации. Школа Свами Шивананды уделяет большое внимание духовной практике. </p>
                <p align="justify" class="main-list">Шивананда йога — это путь к физическому и ментальному благополучию. Данная йога помогает избавиться от
                внутренних препятствий и дает силу воли оставаться спокойными, расслабленными и собранными в трудные
                моменты жизни. Каждый класс начинается и заканчивается пением мантр. Мантры это форма энергии, созданная
                вибрацией звука. Энергетические каналы начинают колебаться, когда поется мантра. Звуком и вибрацией
                можно влиять на своё тело, развивая в себе положительные качества и улучшая своё эмоциональное
                состояние.</p>
                <p align="justify" class="main-list">На занятии огромное внимание уделяется расслаблению, дыхательным упражнениям и внутренней концентрации.
                Все упражнения выполняются с объяснениями и персональной корректировкой участников группы. Каждому могут
                быть предложены более простые или, наоборот, более сложные модификации асан с учетом индивидуальных
                возможностей. Основная последовательность (12 асан) может быть дополнена более сложными асанами и их
                вариациями на усмотрение преподавателя. Основной класс подходит для людей всех возрастов и уровней
                подготовки: от начинающих, до тех, кто уже занимается несколько лет.</p>
                <p align="justify" class="main-list"><b>Шивананда йога базируется на пяти принципах:</b></p>
                <p align="justify" class="main-list">◾ правильные упражнения. Верное выполнение асан оказывает благотворное влияние на все системы организма,
                омолаживают его, возвращают силу и гибкость.</p>
                <p align="justify" class="main-list">◾ правильное дыхание. Пранаяма способствует накоплению жизненной энергии (праны), благодаря которой
                человек обретает контроль над своим сознанием.</p>
                <p align="justify" class="main-list">◾ правильное расслабление. Регулярное выполнение Шавасаны необходимо для физического, духовного и
                ментального расслабления.</p>
                <p align="justify" class="main-list">◾ правильное питание. Вегетарианство оказывает положительный эффект на тело и ум человека, снабжает его
                максимальным количеством полезных организму веществ, не имея при этом негативного влияния на окружающую
                среду.</p>
                <p align="justify" class="main-list">◾ позитивное мышление (Веданта) и Медитация (Дхьяна) способствует ментальному, духовному и физическому
                благополучию.</p>
                <p align="justify" class="main-list">Состав урока Шивананда йоги:</p>
                <p align="justify" class="main-list">- релаксация (внутренняя настройка на занятие);</p>
                <p align="justify" class="main-list">- пранаяма (Капалабхати, Анулома-вилома);</p>
                <p align="justify" class="main-list">- динамический комплекс «Сурья Намаскар»;</p>
                <p align="justify" class="main-list">- асаны – основная последовательность (12 асан: Ширшасана, Сарвангасана, Халасана, Матсиасана,
                Пашчимотанасана, Бхуджангасана, Шалабхасана, Дханурасана, Ардха Матсиендрасана, Какасана (или
                Маюрасана), Падахастасана и Триконасана);</p>
                <p align="justify" class="main-list">- финальная релаксация — шавасана.</p>
                <p align="justify" class="main-list">Данный вид йоги может практиковать любой желающий, т.к. он не
                    требует каких-то специальных вспомогательных средств или особой физической подготовки.</p>
        </p>
        </div>
    </div>


    {% comment %}Кнопка перехода к стилям йоги {% endcomment %}
    <div class="d-flex justify-content-start align-items-center mt-2">
        <a href="{% url 'about' %}" class="btn btn-info">Вернуться</a>
    </div>
</div>

{% endblock %}